/* App.css */
.page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.themebttn {
  position: absolute;
  bottom: 35vmin;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.theme-btn {
  margin: 0.5rem;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 32px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: translate(0,-100px) opacity 2s ease;
}


.light .theme-btn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
}

.dark .theme-btn {
  background-color: #1a1a1a;
  border: 2px solid rgb(223, 222, 222);
  box-shadow: rgb(223, 222, 222) 4px 4px 0 0;
  color: #e0e0e0;
}

.continue-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  position: absolute;
  bottom: 28vmin;
  background: none;
  color: rgb(72, 70, 70);
  opacity: 0;
  z-index: 995;
}

h3.continue-text{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  position: absolute;
  bottom: 27vmin;
  font-weight: 300;
  background: none;
  color: rgb(72, 70, 70);
  z-index: 999;
}

.dark .continue-btn {
  color: whitesmoke;
}

.theme-btn.visible{
  opacity: 0;
}

.continue-btn.visible.moveB{
  opacity: 1;
  transform: none;
  transition: opacity 5s ease;
}

.continue-btn.visible.moveB.moveC{
  opacity: 1;
}

/* Responsive styles */
@media (max-width: 600px) {
  .themebttn {
    flex-direction: column;
    align-items: center;
  }

  .theme-btn {
    margin: 0.5rem 0;
  }
}

.circle {
  position: absolute;
  width: 10vmax; //10vw
  height: 10vmax;
  border-radius: 50%;
  transition: all 2s ease;
}

.semicircle-left {
  position: absolute;
  width: 7vmax;
  height: 13vmax;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}

.semicircle-right {
  position: absolute;
  width: 7vmax;
  height: 13vmax;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}

.quarter-right {
  position: absolute;
  width: 7vmax;
  height: 7vmax;
  border-bottom-right-radius: 100px;
}

.quarter-right-up {
  position: absolute;
  width: 7vmax;
  height: 7vmax;
  border-top-right-radius: 100px;
}

.quarter-left {
  position: absolute;
  width: 7vmax;
  height: 7vmax;
  border-top-left-radius: 100px;
}

/* Define speed for blue circles */
.blue {
  background-color: blue;
  transform: scale(0.9);
  transition-duration: 2.3s; /* Fast movement */
}

/* Define speed for red circles */
.red {
  background-color: red;
  transform: scale(0.9);
  transition-duration: 3s; /* Slow movement */
}

.black {
  background-color: #1a1a1a;
  transform: scale(0.9);
  transition-duration: 3s;
  z-index: 2;
}

.dark .black{
  background-color: wheat;
  border-color: #1a1a1a;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.moveB {
  transform: translate(-92.5vw , 103.7vh) scale(1.05) //  transform: translate(-92vw , 105vh) scale(1.05);
}

.moveC {
  transform: translate(-185vw , 207vh) scale(1.05) !important//  transform: translate(-92vw , 105vh) scale(1.05);
}

/* Position red circles off-screen */
.red.top-left {
  top: -102vh;
  left: 93vw;
}

.red.bottom-right {
  top: -22vh;
  left: 182vw;
}

.red.bottom-left {
  top: -22vh;
  left: 93vw;
}

.red.top-right {
  top: -102vh;
  left: 182vw;
}

/* position animation1 image divs */
.logo{
  position: absolute;
    display: flex;
    flex-direction: row;
    top: 27vh;
    width: 25vmax;
    height: 13vh;
    justify-content: space-evenly;
    transform: scale(0.9) translateX(-1.2vmax);
}

.L1, .L2, .L3{
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
}
.L1{
  align-items: end;
  top: 2px;
  left: 5vmax;
}
.L2{
  align-items: center;
  left: 7.3vmax;
}
.L3{
  align-items: center;
  right: 1vw;
}

.logo-one{
  position: relative;
  width: 4vmax;
  height: 10vmax;
  z-index: 3;
}
.L1.moveA{
  transform: translate(-30vw, 15vh);
  transition-duration: 0.4s;
}
.L1.moveA:hover{
  transform: translate(-30vw, 15vh) rotateX(8deg) rotateY(-8deg);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  transition: transform 0.3s ease;
}
.logo-one.moveA{
  transform: scale(1.2);
  transition-duration: 0.5s;
}


.logo-two{
  position: relative;
  border: 3px solid rgb(245, 238, 221);
  z-index: 2;
}
.L2.moveA{
  transform: translate(0vw, -3vh);
  transition-duration: 0.4s;
}
.L2.moveA:hover{
  transform: translate(0vw, -3vh) rotateX(-8deg) rotateY(-8deg);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  transition: transform 0.3s ease;
}
.logo-two.moveA{
  transform: scale(1.2);
  transition-duration: 0.5s;
}


.logo-three{
  position: relative;
  border: 3px solid rgb(245, 238, 221);
  z-index: 1;
}
.L3.moveA{
  transform: translate(25vw, 32vh);
  transition-duration: 0.4s;
}
.L3.moveA:hover{
  transform: translate(25vw, 32vh) rotateX(8deg) rotateY(8deg);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  transition: transform 0.3s ease;
}
.logo-three.moveA{
  transform: scale(1.2);
  transition-duration: 0.5s;
}


.button{
  top: 0;
  width: 13vw;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: -1.6vmax;
  color: wheat;
  text-align: left;
  height: fit-content;
  width: fit-content;
  font-size: clamp(1rem, 3vmax, 3rem);
  background-color: transparent;
  position: relative;
  opacity: 0;
  visibility: hidden;
  perspective: 100px;
  transition: opacity 1s ease, visibility 1s ease;
  animation: slideInRotate 0.6s forwards; /* 1s animation, runs once */
}
.light .button{
  color: black;
}
.button.text-one{
  padding: 0px 0px 0px 1.6vmax;
}
.button.text-two{
  padding: 0px 0px 0px 2.3vmax;
}
.button.text-three{
  padding: 0px 2.3vmax 0px 0px;
}
.button.text-one.appear, .button.text-two.appear, .button.text-three.appear {
  opacity: 1;
  visibility: visible;

}
@keyframes slideInRotate {
  0% {
      transform: translateY(15%) rotateX(-60deg); /* Start off-screen at the bottom, rotated */
      opacity: 0;
  }
  100% {
      transform: translateY(0) rotateX(0); /* End at the original position */
      opacity: 1;
  }
}

.info{
  position: absolute;
  bottom: 45px;
  left: 45px;
  animation: slideInRotate 1s forwards;
  color: rgb(117, 89, 62);
  font-weight: 200;
  font-size: 1.2em;
  line-height: 1.3;
  font-family: 'Times New Roman', Times, serif;
}
p{
  text-align: left;
  margin: 0;
}
p.one{
  display: inline-flex;
  flex-direction: row;
}
p hr{
  border: none;
  width: 190px;
  height: 1px;
  margin-left: 15px;
  background-color: rgb(117, 89, 62);
}



@media (max-width: 600px) {
  .logo-one.moveA{
    transform: translate(-16vw, 0vh) scale(1.2);
    transition-duration: 0.5s;
  }
  .logo-two.moveA{
    transform: translate(-27vw, 25vh) scale(1.2);
    transition-duration: 0.5s;
  }
  .logo-three.moveA{
    transform: translate( calc(-26vw - 7vh), 50vh) scale(1.2);
    transition-duration: 0.5s;
  }
  .button.text-one{
    left: 55vw;
    top: 33vh;
  }
  .button.text-two{
    left: 55vw;
    top: 55vh;
  }
  .button.text-three{
    left: 55vw;
    top: 78vh;
  }
}

.logo-one.moveA.moveB, 
.logo-two.moveA.moveB, 
.logo-three.moveA.moveB, 
.button.text-one.visible.moveB, 
.button.text-two.visible.moveB, 
.button.text-three.visible.moveB {
  transform: translate(-92.5vw , 103.7vh);
  transition-duration: 3s;
  opacity: 1;
  visibility: visible;
}

/* position animation2 image divs */
.one {
  top: -118vh;
  left: 93vw;
}
.one.moveB{
  transform: translate(-92.5vw , 103.7vh) scale(1.3);
}


.two{
  top: -116vh;
  left: 108vw;
  transition-duration: 5s;
}
.two.moveB{
  transform: translate(-92.5vw , 103.7vh) scale(1.5);
}


.three{
  top: -85vh;
  left: 90vw;
}


.four{
  top: -74.4vh;
  left: 98vw;
}


.five {
  top: -49vh;
  left: 100vw;
}
.five.moveB{
  transform: translate(-92.5vw , 103.7vh) scale(1.6); 
}


.six{
  top: -17vh;
  left: 102vw;
}
.six.moveB{
  transform: translate(-94.5vw , 103.7vh) scale(1.2); 
  transition-duration: 4s;
}


.seven{
  top: -16vh;
  left: 113vw;
}
.seven.moveB{
  transform: translate(-92.5vw , 103.7vh) scale(1.3); 
  transition-duration: 4s;
}


.eight{
  top: -112vh;
  left: 168vw;
}
.eight.moveB{
  transform: translate(-92.5vw , 103.7vh) scale(1.4);
}


.nine{
  top: -85vh;
  left: 186vw;
}
.nine.moveB{
  transform: translate(-92.5vw , 103.7vh) scale(1.6);
}

.ten{
  position: absolute;
  width: 4.6vmax;
  height: 13vmax;
  top: -50vh;
  left: 178vw;
}

.eleven{
  top: -50vh;
  left: 183.5vw;
}


.twelve{
  top: -10vh;
  left: 168vw;
}
.twelve.moveB{
  transform: translate(-92.5vw , 103.7vh) scale(1.4);
}


.thirteen{
  top: -10vh;
  left: 181.5vw;
}
.thirteen.moveB{
  transform: translate(-92.5vw , 103.7vh) scale(1.4);
}


