.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .login, .signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    position: relative;
    height: 420px;
    width: 330px;
    color: black;
  }
    
  .login form, .signup form{
    display: flex;
    flex-direction: column;
    width: 300px;
  }
    
  .login label, .signup label{
    margin-top: 15px;
    align-self: flex-start;
    text-align: left;
  }
  
  .login label a, .signup label a{
    color: #09407c;
    font-size: smaller;
    font-weight: 600;
  }
  
  .login input, .signup input{
    padding: 8px;
    border: 1px solid #363535;
    border-radius: 4px;
    width: 280px;
    background-color: transparent;
    color: black;
  }
  
  .login .submit, .signup .submit{
    margin-top: 10px;
    padding: 0.5rem;
    background-color: #09407c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    line-height: 28px;
    width: 300px;
    align-self: center;
  }

  .signup .submit{
    margin-top: 34px;
  }
  
  .login .close-button, .signup .close-button{
    margin-top: 25px;
    background-color: transparent;
    color: #09407c;
    scale: 0.9;
  }
  
  .login input:focus, button:hover {
    outline: none;
  }
  
  .login label#text, .signup label#text{
    align-self: flex-start;
  }
  
  .or{
    display: flex;
    align-items: center;
    margin: 14px 0;
  }
  
  .line {
    flex-grow: 1;
    height: 1px;
    background-color: rgb(84, 84, 84,0.3); /* Change the color as needed */
  }
  
  .or-text {
    margin: 0 10px; /* Adjust the spacing as needed */
    white-space: nowrap;
  }
  
  .google{
    background-color: transparent;
    color: black;
    font-size: small;
    border: 1.3px solid black;
    border-radius: 20px;
    width: 280px;
    padding: 10px;
  }
  
  .create-acc{
    font-size: small;
    margin-top: 18px;
  }
  
  .create-acc a{
    color: #09407c;
    font-weight: 600;
  }